Repository satori-chatbots/chatbot-dojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  # Ruff for Python linting and formatting (backend only)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/.*\.py$
      # Run the formatter
      - id: ruff-format
        files: ^backend/.*\.py$

  # MyPy for Python type checking (backend only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.1
    hooks:
      - id: mypy
        files: ^backend/.*\.py$
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: [types-requests, types-PyYAML]

  # ESLint for JavaScript/TypeScript linting (using npm)
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Prettier for JavaScript/TypeScript formatting (using npm)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false

  # General hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/package-lock\.json$
      - id: end-of-file-fixer
        exclude: ^frontend/package-lock\.json$
      - id: check-merge-conflict
      - id: check-added-large-files
      # File format validation
      - id: check-yaml
      - id: check-json
      - id: check-toml
      # Python-specific checks
      - id: debug-statements
        files: ^backend/.*\.py$
      - id: check-docstring-first
        files: ^backend/.*\.py$
      # Case sensitivity issues
      - id: check-case-conflict

some ruff fixes in exeuction view
  backend/tester/api/execution_views.py
Due: none

ruff fix execution view
  backend/tester/api/execution_views.py
Due: none

exceptions fixed
  backend/tester/api/execution_views.py
Due: none

reformated quite a bit
  backend/tester/api/__init__.py
  backend/tester/api/execution_views.py
  backend/tester/api/profile_generator.py
  backend/tester/api/sensei_execution_views.py
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_parser.py
  backend/tester/api/tracer_views.py
  backend/tester/urls.py
Due: none

format
  backend/tester/api/sensei_execution_views.py
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_parser.py
  backend/tester/api/tracer_views.py
Due: none

ruff check fix
  backend/tester/api/__init__.py
Due: none

fixes
  .gitignore
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
Due: none

ruff fixes tracer generator
  backend/tester/api/tracer_generator.py
Due: none

ruff
  backend/tester/api/tracer_generator.py
Due: none

more ruff fixes
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_parser.py
Due: none

fixed models
  backend/tester/models.py
Due: none

ruff fix
  backend/tester/api/tracer_generator.py
Due: none

tracer view fixes
  backend/tester/api/tracer_views.py
Due: none

reformat graph
  backend/tester/api/tracer_views.py
Due: none

type hing
  backend/tester/api/tracer_views.py
Due: none

ruff fixes
  backend/tester/api/tracer_views.py
Due: none

ruff fix
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_parser.py
  tester/management/__init__.py
  tester/management/commands/__init__.py
Due: none

docs
  backend/tester/management/__init__.py
  backend/tester/management/commands/__init__.py
Due: none

ruff fixes
  backend/tester/api/tracer_generator.py
Due: none

ruff format
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_parser.py
  backend/tester/api/tracer_views.py
Due: none

Implement TRACER (#56)
  .gitignore
  backend/requirements.txt
  backend/tester/admin.py
  backend/tester/api/__init__.py
  backend/tester/api/execution_views.py
  backend/tester/api/profile_generator.py
  backend/tester/api/sensei_execution_views.py
  backend/tester/api/test_files.py
  backend/tester/api/test_runner.py
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_parser.py
  backend/tester/api/tracer_views.py
  backend/tester/management/__init__.py
  backend/tester/management/commands/__init__.py
  backend/tester/models.py
  backend/tester/urls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/file-api.js
  frontend/src/app.jsx
  frontend/src/components/execution-folder.jsx
  frontend/src/components/execution-logs-viewer.jsx
  frontend/src/components/inline-graph-viewer.jsx
  frontend/src/components/inline-report-viewer.jsx
  frontend/src/components/original-profiles-viewer.jsx
  frontend/src/components/tracer-execution-card.jsx
  frontend/src/views/home.jsx
  frontend/src/views/tracer-dashboard.jsx
  frontend/tailwind.config.js
  pyproject.toml
  tester/management/__init__.py
  tester/management/commands/__init__.py
  uv.lock
Due: eslint, prettier

LLM section improved
  frontend/src/views/home.jsx
Due: eslint, prettier

project change
  frontend/src/views/home.jsx
Due: eslint, prettier

handle string
  frontend/src/views/home.jsx
Due: eslint, prettier

fixes
  frontend/src/index.css
  frontend/src/views/home.jsx
Due: eslint, prettier

css fix
  frontend/src/index.css
Due: prettier

Add aria-label
  frontend/src/views/home.jsx
Due: eslint, prettier

small tweaks
  frontend/src/views/home.jsx
Due: eslint, prettier

Refactor project name display in Home component for better layout and responsiveness
  frontend/src/views/home.jsx
Due: eslint, prettier

Enhanced project changer and edit project (#59)
  frontend/src/index.css
  frontend/src/views/home.jsx
Due: eslint, prettier

made chatbot connectors private
  backend/tester/admin.py
  backend/tester/api/connectors.py
  backend/tester/api/projects.py
  backend/tester/models.py
  backend/tester/serializers.py
  frontend/src/api/chatbot-connector-api.js
  frontend/src/app.jsx
  frontend/src/contexts/setup-context.jsx
Due: eslint, prettier

made chatbot connectors private (#60)
  backend/tester/admin.py
  backend/tester/api/connectors.py
  backend/tester/api/projects.py
  backend/tester/models.py
  backend/tester/serializers.py
  frontend/src/api/chatbot-connector-api.js
  frontend/src/app.jsx
  frontend/src/contexts/setup-context.jsx
Due: eslint, prettier

updated tracer to 0.2.11
  requirements.txt
  uv.lock
Due: none

updated tracer to 0.2.11 (#63)
  requirements.txt
  uv.lock
Due: none

basic ones
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  backend/tester/models.py
  frontend/src/components/tracer-execution-card.jsx
  uv.lock
Due: eslint, prettier

Enhance TRACER error handling and logging
  backend/tester/api/tracer_generator.py
  frontend/src/components/execution-logs-viewer.jsx
  frontend/src/components/tracer-execution-card.jsx
Due: eslint, prettier

custom errors in UI
  backend/tester/api/sensei_execution_views.py
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  frontend/src/components/execution-folder.jsx
  frontend/src/views/home.jsx
  frontend/src/views/tracer-dashboard.jsx
Due: eslint, prettier

fixed the UI not reloading and the toasts
  backend/tester/api/tracer_generator.py
  frontend/src/views/home.jsx
  frontend/src/views/tracer-dashboard.jsx
Due: eslint, prettier

ruff fixes
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  backend/tester/models.py
Due: none

npm format and lint
  frontend/src/components/execution-folder.jsx
  frontend/src/components/execution-logs-viewer.jsx
  frontend/src/components/tracer-execution-card.jsx
  frontend/src/views/home.jsx
  frontend/src/views/tracer-dashboard.jsx
Due: eslint, prettier
