Repository satori-chatbots/chatbot-dojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format:check'
  language: system
  pass_filenames: false

update a sensei 0.3.6
  backend/pyproject.toml
  backend/uv.lock
Due: none

new sensei parameter syntax
  backend/tester/api/test_runner.py
Due: none

changed argument extract for output
  backend/tester/api/test_runner.py
Due: none

format and ruff fix
  backend/senseiweb/settings.py
  backend/tester/api/projects.py
Due: none

ruff checks
  backend/tester/api/projects.py
Due: none

ruff check
  backend/tester/api/projects.py
Due: none

ruff format
  backend/senseiweb/settings.py
  backend/tester/api/projects.py
Due: none

Update backend/senseiweb/settings.py
  backend/senseiweb/settings.py
Due: none

fix
  backend/senseiweb/settings.py
Due: none

Fix sensei execution (#82)
  backend/entrypoint.prod.sh
  backend/pyproject.toml
  backend/senseiweb/settings.py
  backend/tester/api/projects.py
  backend/uv.lock
Due: none

generate all files within same directory
  backend/tester/api/test_runner.py
  backend/tester/api/tracer_generator.py
Due: none

pathlib
  backend/tester/api/tracer_generator.py
Due: none

generate all files within same directory (#83)
  backend/tester/api/test_runner.py
  backend/tester/api/tracer_generator.py
Due: none

Upload to sensei check rules
  backend/tester/models.py
Due: none

able to upload and delete sensei rules
  backend/tester/api/__init__.py
  backend/tester/api/project_files.py
  backend/tester/migrations/0007_senseicheckrule.py
  backend/tester/serializers.py
  backend/tester/urls.py
  frontend/src/api/config.js
  frontend/src/api/file-api.js
  frontend/src/components/sensei-check-rules.jsx
  frontend/src/views/home.jsx
Due: eslint, prettier

add heroui react
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: prettier

modal for sensei-check execution
  frontend/src/components/sensei-check-rules.jsx
Due: eslint, prettier

modal displaying sensei executions
  frontend/src/components/sensei-check-rules.jsx
Due: eslint, prettier

execute sensei-check
  backend/tester/api/__init__.py
  backend/tester/api/sensei_execution_views.py
  backend/tester/urls.py
  frontend/src/api/config.js
  frontend/src/api/file-api.js
  frontend/src/components/sensei-check-rules.jsx
Due: eslint, prettier

Sensei Check Dashboard
  frontend/src/api/file-api.js
  frontend/src/app.jsx
  frontend/src/components/sensei-check-results-dashboard.jsx
  frontend/src/components/sensei-check-rules.jsx
  frontend/src/utils/sensei-check-results-storage.js
  frontend/src/views/sensei-check-results-view.jsx
Due: eslint, prettier

update sensei to 0.3.7
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  requirements.txt
Due: none

organize the files
  backend/tester/api/sensei_execution_views.py
Due: none

copy only conversation files in a flat structure
  backend/tester/api/sensei_execution_views.py
Due: none

UI enhancements in the sensei check dashboard
  frontend/src/components/sensei-check-results-dashboard.jsx
Due: eslint, prettier

abstract the modal
  frontend/src/components/sensei-check-results-dashboard.jsx
  frontend/src/components/sensei-check-results-modal.jsx
  frontend/src/components/sensei-check-rules.jsx
  frontend/src/components/terminal-output.jsx
Due: eslint, prettier

small fix on the sensei check
  frontend/src/components/sensei-check-results-dashboard.jsx
  frontend/src/components/sensei-check-results-modal.jsx
  frontend/src/components/sensei-check-rules.jsx
Due: eslint, prettier

Download the CSV with the results
  frontend/src/components/sensei-check-results-dashboard.jsx
Due: eslint, prettier

liting
  frontend/src/app.jsx
  frontend/src/components/sensei-check-results-dashboard.jsx
  frontend/src/components/sensei-check-results-modal.jsx
  frontend/src/components/sensei-check-rules.jsx
  frontend/src/utils/sensei-check-results-storage.js
  frontend/src/views/home.jsx
  frontend/src/views/sensei-dashboard.jsx
Due: eslint, prettier

pass ruff checks
  backend/tester/api/__init__.py
  backend/tester/api/sensei_execution_views.py
Due: none

update docs
  backend/tester/api/sensei_execution_views.py
Due: none

only show succesful by default
  frontend/src/components/sensei-check-rules.jsx
Due: eslint, prettier

UI/UX changes
  frontend/src/components/sensei-check-rules.jsx
  frontend/src/views/home.jsx
Due: eslint, prettier

yaml editor
  frontend/src/api/file-api.js
  frontend/src/app.jsx
  frontend/src/components/sensei-check-rules.jsx
  frontend/src/views/sensei-check-rules-editor.jsx
Due: eslint, prettier

added tab persistance
  frontend/src/views/home.jsx
Due: eslint, prettier

remove references to user simultaor submodule
  .gitmodules
  backend/Dockerfile
  docker-compose.dev.yml
Due: none

use rules direcotyr instead of seinse'chechk-rules
  backend/tester/api/sensei_execution_views.py
  backend/tester/migrations/0008_migrate_sensei_check_rules_directory.py
  backend/tester/models.py
Due: none

be able to turn on and off rules
  backend/tester/api/project_files.py
  backend/tester/serializers.py
  frontend/src/api/file-api.js
  frontend/src/components/sensei-check-rules.jsx
  frontend/src/views/sensei-check-rules-editor.jsx
Due: eslint, prettier

Sensei rules documentation and autocomplete
  frontend/src/data/sensei-check-documentation.js
  frontend/src/views/sensei-check-rules-editor.jsx
Due: eslint, prettier

Implemented Sensei Rules (#86)
  .gitmodules
  backend/Dockerfile
  backend/pyproject.toml
  backend/requirements.txt
  backend/tester/api/__init__.py
  backend/tester/api/project_files.py
  backend/tester/api/sensei_execution_views.py
  backend/tester/migrations/0007_senseicheckrule.py
  backend/tester/migrations/0008_migrate_sensei_check_rules_directory.py
  backend/tester/models.py
  backend/tester/serializers.py
  backend/tester/urls.py
  backend/uv.lock
  docker-compose.dev.yml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/config.js
  frontend/src/api/file-api.js
  frontend/src/app.jsx
  frontend/src/components/sensei-check-results-dashboard.jsx
  frontend/src/components/sensei-check-results-modal.jsx
  frontend/src/components/sensei-check-rules.jsx
  frontend/src/components/terminal-output.jsx
  frontend/src/data/sensei-check-documentation.js
  frontend/src/utils/sensei-check-results-storage.js
  frontend/src/views/home.jsx
  frontend/src/views/sensei-check-results-view.jsx
  frontend/src/views/sensei-check-rules-editor.jsx
  frontend/src/views/sensei-dashboard.jsx
  requirements.txt
Due: eslint, prettier

Path conditions:
  eslint: any of: ^frontend/.*\.(js|jsx|ts|tsx)$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
