Repository satori-chatbots/chatbot-dojo: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  # Ruff for Python linting and formatting (backend only)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        files: ^backend/.*\.py$
      # Run the formatter
      - id: ruff-format
        files: ^backend/.*\.py$

  # MyPy for Python type checking (backend only)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.1
    hooks:
      - id: mypy
        files: ^backend/.*\.py$
        args: [--ignore-missing-imports, --no-strict-optional]
        additional_dependencies: [types-requests, types-PyYAML]

  # ESLint for JavaScript/TypeScript linting (using npm)
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Prettier for JavaScript/TypeScript formatting (using npm)
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format:check'
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false

  # General hooks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^frontend/package-lock\.json$
      - id: end-of-file-fixer
        exclude: ^frontend/package-lock\.json$
      - id: check-merge-conflict
      - id: check-added-large-files
      # File format validation
      - id: check-yaml
      - id: check-json
      - id: check-toml
      # Python-specific checks
      - id: debug-statements
        files: ^backend/.*\.py$
      - id: check-docstring-first
        files: ^backend/.*\.py$
      # Case sensitivity issues
      - id: check-case-conflict

small tweaks
  backend/tester/api/tracer_views.py
  frontend/src/components/execution-folder.jsx
  frontend/src/components/execution-logs-viewer.jsx
  frontend/src/components/tracer-execution-card.jsx
  frontend/src/utils/error-types.js
Due: eslint, prettier

fixed profiles and graph not appearing
  backend/tester/api/tracer_views.py
Due: none

fix: typo
  backend/tester/models.py
Due: none

Handle TRACER exceptions (#64)
  backend/tester/api/sensei_execution_views.py
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  backend/tester/models.py
  frontend/src/components/execution-folder.jsx
  frontend/src/components/execution-logs-viewer.jsx
  frontend/src/components/tracer-execution-card.jsx
  frontend/src/utils/error-types.js
  frontend/src/views/home.jsx
  frontend/src/views/tracer-dashboard.jsx
  uv.lock
Due: eslint, prettier

migrate to pnpm
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  frontend/.npmrc
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  makefile
  tmux-dev-setup.sh
Due: prettier

migrate to pnpm (#66)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  frontend/.npmrc
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  makefile
  tmux-dev-setup.sh
Due: prettier

fix imports
  frontend/src/views/home.jsx
  frontend/src/views/projects-dashboard.jsx
Due: eslint, prettier

ui optimization with lazy loding and manual chunking
  frontend/src/app.jsx
  frontend/vite.config.js
Due: eslint, prettier

Lazy loading + Manual Chunking (#67)
  frontend/src/app.jsx
  frontend/src/views/home.jsx
  frontend/src/views/projects-dashboard.jsx
  frontend/vite.config.js
Due: eslint, prettier

added user-simulator and updated some packages
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

fix typo
  frontend/src/views/login-view.jsx
Due: eslint, prettier

fix typo (#68)
  frontend/src/views/login-view.jsx
Due: eslint, prettier

make TRACER executions public if project is public
  backend/tester/api/tracer_views.py
  frontend/src/app.jsx
  frontend/src/views/tracer-dashboard.jsx
Due: eslint, prettier

make TRACER executions public if project is public (#69)
  backend/tester/api/tracer_views.py
  frontend/src/app.jsx
  frontend/src/views/tracer-dashboard.jsx
Due: eslint, prettier

updated sensei
  frontend/requirements.txt
  uv.lock
Due: none

added profile model
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  backend/tester/models.py
  frontend/src/components/create-project-modal.jsx
  frontend/src/components/edit-project-modal.jsx
  frontend/src/views/home.jsx
Due: eslint, prettier

added -pm to tracer executions
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  frontend/src/components/create-project-modal.jsx
  frontend/src/components/edit-project-modal.jsx
  frontend/src/views/home.jsx
Due: eslint, prettier

added profile model to the models and the UI (#70)
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  backend/tester/models.py
  frontend/src/components/create-project-modal.jsx
  frontend/src/components/edit-project-modal.jsx
  frontend/src/views/home.jsx
Due: eslint, prettier

updated sensei dashboard
  backend/tester/api/test_runner.py
  backend/tester/models.py
  frontend/src/app.jsx
  frontend/src/views/sensei-dashboard.jsx
  frontend/src/views/test-case.jsx
Due: eslint, prettier

updated sensei dashboard (#71)
  backend/tester/api/test_runner.py
  backend/tester/models.py
  frontend/src/app.jsx
  frontend/src/views/sensei-dashboard.jsx
  frontend/src/views/test-case.jsx
Due: eslint, prettier

use tracer 0.3.0
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

use tracer 0.3.0 (#72)
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

new paths
  backend/tester/api/projects.py
  backend/tester/api/sensei_execution_views.py
  backend/tester/api/test_runner.py
  backend/tester/views.py
Due: none

initial celery + redis
  README.md
  backend/senseiweb/__init__.py
  backend/senseiweb/celery.py
  backend/senseiweb/settings.py
  pyproject.toml
  uv.lock
Due: none

implemented rabbit mq for tracer
  README.md
  backend/senseiweb/settings.py
  backend/tester/api/tasks.py
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  backend/tester/models.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

sensei with celery
  backend/tester/api/sensei_execution_views.py
  backend/tester/api/tasks.py
Due: none

updated tmux script
  tmux-dev-setup.sh
Due: none

update progress with celery
  backend/tester/api/__init__.py
  backend/tester/api/sensei_execution_views.py
  backend/tester/api/tasks.py
  backend/tester/api/test_runner.py
  backend/tester/models.py
  backend/tester/urls.py
  frontend/src/api/config.js
  frontend/src/api/test-cases-api.js
  frontend/src/views/sensei-dashboard.jsx
  frontend/src/views/test-case.jsx
Due: eslint, prettier

tracer uses celery progress
  backend/tester/api/__init__.py
  backend/tester/api/tasks.py
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  backend/tester/models.py
  backend/tester/urls.py
  frontend/src/api/file-api.js
  frontend/src/views/home.jsx
  frontend/src/views/tracer-dashboard.jsx
Due: eslint, prettier

gemini gitignore
  .gitignore
Due: none

allow cancelling with celery
  backend/tester/api/sensei_execution_views.py
Due: none

properly replace error with failure and correct with success
  backend/tester/api/results_processor.py
  backend/tester/api/sensei_execution_views.py
  backend/tester/api/test_files.py
  backend/tester/api/test_runner.py
  backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_views.py
  backend/tester/models.py
  frontend/src/components/execution-folder.jsx
  frontend/src/components/execution-logs-viewer.jsx
  frontend/src/components/tracer-execution-card.jsx
  frontend/src/utils/status-labels.js
  frontend/src/views/home.jsx
  frontend/src/views/sensei-dashboard.jsx
  frontend/src/views/test-case.jsx
  frontend/src/views/tracer-dashboard.jsx
Due: eslint, prettier

polling interval
  frontend/src/views/test-case.jsx
Due: eslint, prettier

Refactor celery_task_id field in TestCase and ProfileGenerationTask models to remove default value for clarity
  backend/tester/models.py
Due: none

Enhance TRACER execution info by including celery task ID and streamline polling logic in the TracerDashboard component.
  backend/tester/api/tracer_views.py
  frontend/src/views/tracer-dashboard.jsx
Due: eslint, prettier

Update frontend/src/views/test-case.jsx
  frontend/src/views/test-case.jsx
Due: eslint, prettier

Refine polling logic in Dashboard component by clarifying dependencies in useEffect hook.
  frontend/src/views/sensei-dashboard.jsx
Due: eslint, prettier

Update backend/tester/api/tracer_generator.py
  backend/tester/api/tracer_generator.py
Due: none
